/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.card {
    width: 550px;    
    background-color: #ffffff;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    text-align: center;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 20px;
}


